<% if @user %> <br> 
    <img src=<%= @user.image %>> <br><br> 
    Name: <%= @user.name %> <br> 
    Email: <%= @user.email %> <br> <br> 
    <%= link_to "book a new appointment", new_user_appointment_path(@user.id) %> <br> <br> <br> 
    <% if @user.appointments %> 
        <h2> Your Appointment(s): </h2>
        <% @user.appointments.each do |appointment| %> 
            Appointment Employee: <%= appointment.employee.name %> <br> 
            Appointment Time: <%= appointment.time %> <br> 
            <%= link_to "Edit Appointment", edit_user_appointment_path(@user.id, appointment.id) %> 
            
            <br> <br> 
        <% end %> 

    <% end %> 
<% elsif @user == nil %> 
    <%= link_to "Continue with Facebook", '/auth/facebook' %>
<% end %> 