<% if @appointment.errors.any? %> 
    <div id="error_explanation">
        <h2> There were some errors: </h2> 
        <ul> 
            <% @appointment.errors.full_messages.each do |message| %> 
                <li> <%= message %> </li>  
            <% end %> 
        </ul> 
    </div> 
<% end %> 

<h1> Update Appointment </h1> 

<%= form_for(@appointment) do |f| %> 
    Change Time: 
    <div class="field <%= ' field_with_errors' if @appointment.errors[:time].any? %>">
    <%= f.datetime_select :time %> 
    </div>
    <br> 
    Change Employee: <%= f.collection_select :employee_id, Employee.all, :id, :name %> <br> 
    <%= f.submit "Update Appointment" %> 
<% end %> 